.App {
  text-align: center;
}



.header-container {
  background-color: bisque;
  text-align: left;
}

.Main-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Main-box {
  border: solid 1px grey;

  
}

.profile-image {
  width: 300px;
  height: 300px;
}
